@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  border: 0px solid;
  margin-top: 7em;
  display: flex;
  color: rgb(238, 226, 226);
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.item {
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
  width: 700px;
  transform: scale(1);
  padding: 1em;
  background-color: rgb(129, 127, 124);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  cursor: pointer;
  transition: 400ms ease;
}
.item:hover {
  transform: scale(1.04);
}

.item-3 {
  margin: -1px 20px -9px;
  padding: 0.9px 0.9px 0.9px 0.9px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgb(78, 74, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.Logo {
  font-size: 25px;
  font-weight: 800;
  color: rgb(235, 221, 221);
  text-decoration: none;
}
